:root{
    --solidpink:#fda7a6;
    --peach:#fdc4ad;
    --softpink: #fdf6f6;
}

/* setting background color to soft pink both in the html and body */
html{
background-color: var(--softpink);
cursor: url('/assets/CSS/cursor.cur'), auto;
}
body{
  background-color: var(--softpink);
}

/* Scrollbar stylings */

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--peach); 
    border-radius: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--solidpink); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(4, 99, 94); 
  }

  /* the track (progress bar) NOT covered by the handle */
  ::-webkit-scrollbar-track-piece{
      background: var(--peach);
  }

  /* globally adjust font color, style, margin, and weight */
*{
    color:var(--solidpink);
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0;
    
}

/* header adjustments */
.page-header{
    margin-top: 4vh;
    display: flex;
    background-color: var(--softpink);
}

/* navbar stylings */
.navbar{
    display: flex;
    justify-content: flex-end;
    font-size: 1.75rem;
}

/* individual navbar item stylings */
.navitem{
    text-decoration: none;
    color: var(--solidpink);
    margin: 6vw;
}

/* landing page carousel sizing and position */
/* .carousel{
  width: 98%;
 margin-left: auto;
 margin-right: auto;
} */

/* carousel item sizing */
/* .carousel-item{
  height: 45vh;
} */

/* landing about information */
/* .landing-info{
  background-color: var(--softpink);
  width:80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
  font-size: 1.7em;
  display: flex;
  flex-direction: column;
  text-align: center;
} */

/* .hero1{
display: flex;
justify-content: center;
}

.hero-photo1{
  height:27vw;
} */

/* forms of contact positioning */
.contactlist{
  display:flex;
  list-style-type:none;
  justify-content: center;
  flex-direction: row;
  padding: 0%;
}

.contact-items{
  margin-top: 4vh;
  margin-right: 4vw;
  margin-left: 4vw;
}

/* contact form stylings */

#contact-form1{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  background-color: var(--softpink);
}

#fcf-form {
  display:block;
}

.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: var(--softpink);
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid var(--solidpink);
  border-radius: 0.25rem;
  max-width: 50%;
}

.fcf-h3{
  color: black;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color:  black;;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid var(--solidpink);
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid var(--solidpink);
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color:  black;;
}

.fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color:  black;;
  display: none;
}

.fcf-credit a {
  color:  black;;
  text-decoration: underline;
  display: none;
}

.fcf-credit a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color:  black;;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
      transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}
/* 
footer{
  background-color: var(--softpink);
  text-align: center;
}
footer h1{
  font-size: 1em;
} */