:root{
    --tealaccent:#55c3c5;
    --peach:#fdc4ad;
    --darkback: #503b3b;
    --darkaccent:#312d2d;
}

/* setting background color to soft pink both in the html and body */
html{
background-color: var(--softpink);
cursor: url('/assets/CSS/cursor.cur'), auto;
}
body{
  background-color: var(--darkback);
}

/* Scrollbar stylings */

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--peach); 
    border-radius: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--tealaccent); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(4, 99, 94); 
  }

  /* the track (progress bar) NOT covered by the handle */
  ::-webkit-scrollbar-track-piece{
      background: var(--peach);
  }

  /* globally adjust font color, style, margin, and weight */
*{
    color:var(--tealaccent);
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0;
    
}

/* nav bar positiong */
.nav{
  background-color: var(--darkaccent);
  display: flex;
  justify-content: center;
}

/* logo photo adjustmets */
.nav-photo{
  height: 15vw;
  }

/* navbar stylings */
.navbar{
    display: flex;
    justify-content: flex-end;
    font-size: 1.75rem;
}

/* individual navbar item stylings */
.navitem{
    text-decoration: none;
    color: var(--tealaccent);
    margin: 6vw;
}

/* index */

/* header adjustments */
.top-name{
  margin-top: 2vh;
  margin-left: 6vw;
  display: flex;
  background-color: var(--darkback);
  justify-content: center;
}


/* header name photo adjustments */
.header-name{
  width: 70%;
}

/* landing page carousel sizing and position */
.carousel{
  width: 40%;
  height: auto;
 margin-left: auto;
 margin-right: auto;
}

/* main body of indext ajustments */
.landing-main{
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
  margin-left: 1vw;
}
 /* body image positioning */
.left-block-img{
  width: 40vw;
  height: auto;
}

.right-block{
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
}

.right-top-img{
  width: auto;
  height: 16vw;
  margin-right: .5vw;
}

.right-bottom-img{
  width: 56.4vw;
  height: auto;
  margin-top: .5vw;
}

/* positioning of captions on landing main photo */
/* .bottom-right{
  position: absolute;
  top: 195vh;
  left: 20vw;
  padding-left: 20px;
  padding-right: 20px; 
  background-color: var(--peach);
  border-radius: .5vw;
  font-size: 2em;
} */

 /* adjustments for footer */
.foot{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--darkaccent);
}

/* address position adjustments */
.address-info{
  margin-bottom: 12vh;
}

/* nat geo map sizing */
.map{
 height:12vw;
 width: auto;
 margin-top: .75vh;
}

/* menu */

/* general menu body margin */
.menu-body{
  margin-bottom: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* menu page backing, shaping, and positioning of scoped children */
.menu-page{
  margin-top: 1vw;
  background-color: var(--darkaccent);
  border-radius: 5%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* menu section boldening */
.menu-bold{
  font-weight: bolder;
}

/* removing bullets from list elemtns */
.menu-list{
  list-style: none;
}

/* positioning of regular menu section item blocks */
.menu-section{
  display: flex;
  flex-direction: row;
}

/* menu section block spacing */
.menu-section-block{
  margin-left: .75vw;
  margin-right: .75vw;
}

/* kids menu is positioned differently */
.kids-menu{
  display: flex;
  flex-direction: row;
}


/* gallery */

/* general gallery positioning */
.gallery-page{
  margin-top: 1vw;
  margin-bottom: 1vw;
  background-color: var(--darkaccent);
  border-radius: 5%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* adds space between each gallery item */
.gallery-item{
  margin-top: .5vw;
  margin-bottom: .5vw;
}

/* positioning and styling of captions on gallery images */
.gallery-bottom-left{
  /* background-color: var(--darkaccent); */
  /* if background color is used, may need to rework how positioning works based on what is typed in the p tag due to image size and wrapping */
  position: relative;
  bottom: 4vw;
  left: 1vw;
  font-size: 1.8rem;
}


/* contact  */

/* forms of contact positioning */
.contactlist{
  display:flex;
  list-style-type:none;
  justify-content: center;
  flex-direction: row;
  padding: 0%;
}

.contact-items{
  margin-top: 4vh;
  margin-right: 4vw;
  margin-left: 4vw;
}

/* contact form stylings */

#contact-form1{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  background-color: var(--darkback);
}

#fcf-form {
  display:block;
}

.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: var(--darkaccent);
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid var(--darkaccent);
  border-radius: 0.25rem;
  max-width: 50%;
}

.fcf-h3{
  color: var(--tealaccent);
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color:  black;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid var(--tealaccent);
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid var(--tealaccent);
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color:  var(--tealaccent);
}

.fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color:  black;;
  display: none;
}

.fcf-credit a {
  color:  black;;
  text-decoration: underline;
  display: none;
}

.fcf-credit a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color:  black;;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
      transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}

/* forms of contact positioning */
.contactlist{
  display:flex;
  list-style-type:none;
  justify-content: center;
  flex-direction: row;
  padding: 0%;
}

.contact-items{
  margin-top: 4vh;
  margin-right: 4vw;
  margin-left: 4vw;
}



/* media queries */

/* medium-small */
@media (max-width: 800px){

/* logo photo adjustmets */
.nav-photo{
  height: 22vw;
  }

/* navbar stylings */
.navbar{
    justify-content: center;
}

/* individual navbar item stylings */
.navitem{
    margin: 5vw;
}

  /* nat geo map sizing */
  .map{
    height:30vw;
   }
}

/* small */
@media (max-width: 640px){

  /* logo photo adjustmets */
.nav-photo{
  height: 30vw;
  }

  /* nat geo map sizing */
.map{
  height:30vw;
  margin-right: 1vw;
 }
}

/* extra small */
@media (max-width: 500px){

    /* logo photo adjustmets */
.nav-photo{
  height: 40vw;
  }

  /* adjustments for footer */
.foot{
  flex-direction: column;
}

/* address position adjustments */
.address-info{
  margin-bottom: 8vh;
}

/* nat geo map sizing */
.map{
 height:70vw;
 margin-right: none;
}

}